@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
  --color-primary: #8bacda;
  --color-cyan: #00fff7;
  --color-main-bg: #0d192b;
  --color-card-bg: #14253d;
  --color-line: #2f415b;
  --color-white: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-main-bg);
}
p {
  font-size: 18px;
}
.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-card-bg);
}
.card {
}
